akka {
  loglevel = INFO
}


spray.can {
	server {
		request-timeout = infinite
	}
	client {
		request-timeout = infinite
		response-chunk-aggregation-limit = 100m
	}
}

kb-services {
	port = 8082
	kb.endpoint = "http://kb-dev.phenoscape.org/bigsparql"
	owlery.endpoint = "http://pkb-new.nescent.org/owlery/kbs/phenoscape/sparql"
}
