akka {
  loglevel = INFO
  loggers = ["akka.event.slf4j.Slf4jLogger"]
  logging-filter = "akka.event.slf4j.Slf4jLoggingFilter"
}

spray.can {
	server {
		request-timeout = infinite
		idle-timeout = infinite
	}
	client {
		request-timeout = infinite
        idle-timeout = infinite
		response-chunk-aggregation-limit = 500m
		parsing.max-content-length = 500m
	}
    host-connector {
        max-connections = 100
    }
}

kb-services {
	port = 8082
	kb.endpoint = "http://kb-dev.phenoscape.org/bigsparql"
	owlery.endpoint = "http://kb.phenoscape.org/owlery/kbs/phenoscape"
}
